page-products-details {
    #notification-button {            
        position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }


#notifications-badge {
        background-color: red;
        position: absolute;
        top: -1px;
        right: -1px;
        border-radius: 100%;
    }
}
